.custom-login-btn {
    background-color: #F68C2A; /* Orange background color */
    color: #fff; /* White text color */
    border: none; /* Remove the default button border */
    padding: 0.5rem 1.875rem; /* Adjust padding as needed */
    border-radius: 10px; /* Add rounded corners */
    font-weight: bold;
    font-size: 1.2rem;
}

.imagen-container {
    max-width: 100%; /* Hace que el contenedor sea responsivo */
}

/* Reducir el ancho de la imagen al 100% del contenedor */
.imagen-achicada {
    margin: 1.8rem;
    width: 10rem;
    height: auto; /* Mantener la relación de aspecto original de la imagen */
    vertical-align:middle
}
.escudos-achicados{
  margin: 1.8rem;
  width: 7rem;
  height: auto; /* Mantener la relación de aspecto original de la imagen */
  position: relative;
  
}
/* Add a class to the "Jugador" text for better targeting */

.icon:hover {
  transform: scale(1.1); /* Increase the size by 10% */
  transition: transform 0.3s ease; /* Add a smooth transition effect */
  background: lightgray;
  border-radius: 10px;
  --box-shadow-color:  lightgray;
  box-shadow: 0 0 30px var(--box-shadow-color);
  
}

  .posicionequipo1{
    position: absolute;
    top: 50px;
    left: 400px;
  }
  .nombreequipo1{
    position: absolute;
    top: 300px;
    left: 400px;
  }
  .puntuacionequipo1{
    position: absolute;
    top: 150px;
    left: 850px;
  }
  .separadordepuntuacion{
    position: absolute;
    top: 147px;
    left: 920px;
  }
  .posicionequipo2{
    position: absolute;
    top: 50px;
    left: 1250px;
  }
  .nombreequipo2{
    position: absolute;
    top: 300px;
    left: 1250px;
  }
  .puntuacionequipo2{
    position: absolute;
    top: 151px;
    left: 958px;
  }

